.header {
    // padding: 150px 120px 30px 120px;
    // text-align: center;
    .carousel-item{
        transition: transform .2s ease, opacity .5s ease-out;
    }

    .logEslog {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        #logo {
            text-align: center;
            justify-content: center;
            width: 530px;
        }

        #eslogan {
            font-family: 'Qwiley-Regular', cursive;
            color: white;
            font-size: 60px;
            font-weight: lighter;
        }
    }

    .carousel{
        position: relative;
    }

}

@font-face {
    font-family: 'Qwiley-Regular';
    src: url("../../assets/fonts/Qwigley-Regular.ttf");
}


@media screen and (max-width: 500px) {
    .header {
        padding: 20px;
    }
}