.header {
    background-image: url("../../assets/media/comida_italiana.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 120px 30px 120px;
    text-align: center;
    
    #logo{
        text-align: center;
        justify-content: center;
        width: 530px;
    }

    #eslogan{
        font-family: cursive;
        color: white;
        font-size: 30px;
        font-weight: lighter;
    }
}


@media screen and (max-width: 500px) {
    .header {
        padding: 20px;
    }
}