.header {
    background-image: url(https://cdn.shopify.com/s/files/1/0899/2262/articles/comida_italiana.jpg?v=1538518314);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 120px 120px 0px;
    text-align: center;
}


@media screen and (max-width: 500px) {
    .header {
        padding: 20px;
    }
}