<footer>
  <p>© 2023 by My Website. Proudly created with HTML and Sass.</p>
  <ul id="social-media">
    <li><a href="https://www.google.com.mx/"> <img
          src="../../assets/media/redes sociales/google_icon-icons.com_62736.png" alt="Google"><i></i></a></li>
    <li><a href="https://es-la.facebook.com/"> <img
          src="../../assets/media/redes sociales/facebook_logo_icon_147291.png" alt="Facebook"><i></i></a></li>
    <li><a href="https://www.instagram.com/"> <img
          src="../../assets/media/redes sociales/ig_instagram_media_social_icon_124260.png" alt="Instagram"><i></i></a>
    </li>
    <li><a href="https://twitter.com/?lang=es"> <img
          src="../../assets/media/redes sociales/twitter_socialnetwork_20007.png" alt="Twitter"></a></li>
    <li><a href="https://mx.linkedin.com/"> <img
          src="../../assets/media/redes sociales/linkedin_socialnetwork_17441.png" alt="LinkedIn"></a></li>
  </ul>
</footer>