<div class="cuerpo">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/media/logo 1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/media/lasana-comida.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/media/italianowhyus.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>

  <div class="container">
    <h2>Vittoria</h2>
    <p>Bienvenidos a Vittoria, un restaurante que ofrece auténtica
      cocina
      italiana en un ambiente acogedor y elegante. Fundado en 1995 por la familia Rossi, Vittoria ha sido un
      destino
      de
      comida italiana en la ciudad desde entonces.</p>

    <p>En Vittoria, nos apasiona la comida italiana y creemos que la
      mejor manera de disfrutarla es mediante la utilización de ingredientes frescos y de alta calidad. Es por eso
      que
      trabajamos con proveedores locales para garantizar que nuestras pastas, salsas y platos principales sean lo
      más
      auténticos y sabrosos posible.</p>

    <p>Nos esforzamos por ofrecer una experiencia gastronómica
      inolvidable a nuestros clientes, ya sea que vengan a disfrutar de una cena romántica para dos, una reunión
      de
      negocios o una cena en familia. Nuestro personal amable y experimentado está siempre a su disposición para
      ayudarle a seleccionar el plato perfecto y ofrecer sugerencias de vino para complementar su comida.</p>

    <p>En Vittoria, nos enorgullece crear una experiencia culinaria
      que
      deja a nuestros clientes felices y satisfechos. Esperamos darle la bienvenida pronto en nuestro restaurante
      y
      hacer de su experiencia gastronómica una memorable.</p>
  </div>
</div>
<div>
  <mat-accordion> <!--Este es un componente de Material-->
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header class="contenedor">
        <mat-panel-title>
          This is the expansion title
        </mat-panel-title>
        <mat-panel-description>
          This is a summary of the content
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
      <p>This is the primary content of the panel.</p>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header class="contenedor">
        <mat-panel-title>
          This is the expansion title
        </mat-panel-title>
        <mat-panel-description>
          This is a summary of the content
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
      <p>This is the primary content of the panel.</p>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header class="contenedor">
        <mat-panel-title>
          This is the expansion title
        </mat-panel-title>
        <mat-panel-description>
          This is a summary of the content
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
      <p>This is the primary content of the panel.</p>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header class="contenedor">
        <mat-panel-title>
          This is the expansion title
        </mat-panel-title>
        <mat-panel-description>
          This is a summary of the content
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
      <p>This is the primary content of the panel.</p>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>

  </mat-accordion>
</div>