.container {
    background: rgba(156, 143, 167, 0.308);
    background: radial-gradient(circle, rgba(156, 143, 167, 0.123) 0%, rgba(0, 0, 0, 0.26) 56%);
    border: 1px solid black;
    padding: 15px;
    font-size: 20px;
    border-radius: 4px 4px 4px 4px;
}


.cuerpo {
    margin: 20px;
    display: flex;
    flex-direction: row;

    .carousel {
        margin-top: 100px;
        width: 30%;
        margin-right: 30px;
    }
}