<app-header></app-header>
<div class="bienvenida">
    <h1 id="texto1">¡Bienvenidos al</h1>
    <h1 id="texto2">Restaurante de comida Italiana Vittoria!</h1>
    <p id="texto3">En nuestro restaurante podrán disfrutar de una gran variedad de platillos típicos de la gastronomía
        italiana, desde las pastas más clásicas hasta las pizzas más exóticas, todo preparado con los ingredientes más
        frescos y de la más alta calidad.

        Nuestro objetivo es brindarles una experiencia gastronómica única, donde cada platillo sea una explosión de
        sabor y cada bocado una aventura culinaria.
    </p>
    <img src="..." alt="">
</div>
<div class="exp">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../assets/media/lasana-comida.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Experiencia en la comida Italiana</h5>
                    <p class="card-text">La comida italiana es muy variada y tiene una larga tradición culinaria que se remonta a siglos atrás. Algunos de los platos más populares son la pizza, la pasta, las carnes y pescados a la parrilla, las ensaladas y las sopas. La pasta es uno de los alimentos más emblemáticos de la cocina italiana y existen numerosas variedades de pasta, desde los tallarines hasta los raviolis o los espaguetis.</p>
                    <p class="card-text">En nuestro restaurante italiano también podrás encontrar una gran variedad de pizzas, desde la clásica margarita hasta otras opciones con ingredientes como la mozzarella, el jamón, el champiñón, el pepperoni, entre otros.</p>    
                    <p class="card-text">Además, en la cocina de nuestro restaurante utilizamos una variedad de ingredientes frescos y de alta calidad, como los tomates, el aceite de oliva, las hierbas y las especias, lo que da lugar a sabores intensos y auténticos.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-reservation></app-reservation>
<app-footer></app-footer>
