<div *ngIf="!citaCliente.length; else cita" class="alert alert-danger">No tiene citas por el momento</div>
<ng-template #cita>
  <div class="titulo container"  *ngIf="forceUpdate">
    <h2>Citas</h2>
    <hr>
  </div>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Fecha</th>
        <th>UID</th>
        <th>Clave</th>
        <th>Borrar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dato of citaCliente">
        <td>{{ dato.nombre }}</td>
        <td>{{ dato.correo }}</td>
        <td>{{ dato.fecha }}</td>
        <td>{{ dato.edad }}</td>
        <td>{{ dato.clave }}</td>
        <td><button class="btn btn-outline-danger" (click)="onClickDelete(dato)" >Borrar</button></td>
      </tr>
    </tbody>
  </table>
</ng-template>