<div *ngIf="!clientes.length; else cita" class="alert alert-danger">No hay clientes por el momento</div>
<ng-template #cita>
  <div class="titulo container">
    <h2>Citas</h2>
    <hr>
  </div>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Fecha</th>
        <th>UID</th>
        <th>Clave</th>
        <!-- Agrega aquí más columnas si es necesario -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dato of citaCliente">
        <td>{{ dato.nombre }}</td>
        <td>{{ dato.correo }}</td>
        <td>{{ dato.fecha }}</td>
        <td>{{ dato.edad }}</td>
        <td>{{ dato.clave }}</td>
        <!-- Agrega aquí más columnas si es necesario -->
      </tr>
    </tbody>
  </table>
</ng-template>