<div class="contenido">
    <div class="container">
        <button class="btn btn-primary me-md-2" type="button">Grafica por edades</button>
        <button class="btn btn-primary me-md-2" type="button">Grafica por sexo</button>
        <button class="btn btn-primary" type="button">Grafica por personas que asistiran</button>
    </div>
    <div class="container">
        <canvas id="barras"></canvas>
    </div>
    <div class="container">
        <canvas id="pastel"></canvas>
    </div>
</div>
